<!-- CSS -->
<link rel="stylesheet" href="/static/css/layout.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/railscasts.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400%7CUbuntu:300,300italic,300bold,400,400italic,400bold,600,600italic,600bold">

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>
